/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    display: grid;
    grid-template: 1fr / 0.94fr 4fr;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fcfaf8;
    padding: 16px 10px 12px 18px;
}

.profile-container {
    margin-bottom: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.add-task-btn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    border: none;
    background-color: transparent;
    color: #a81f00;
    padding: 6px 8px;
    margin-left: -6px;
    font-weight: 500;
    cursor: pointer;
}

.add-task-btn:hover {
    background-color: #f2efed;
    border-radius: 4px;
}

.fa-circle-plus {
    color: #dc4c3e;
    font-size: 22px;
}

.projects-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px 0px 4px;
    margin-left: -4px;
    font-weight: 500;
    color: rgb(95, 95, 95);
}

.projects-heading-container:hover {
    background-color: #f2efed;
    border-radius: 4px;
}

.add-project-btn {
    background-color: transparent;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    margin-top: 4px;
}

.default-project-container {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 400;
    margin-left: -4px;
    cursor: pointer;
}

main {
    padding: 60px 190px;
}

.main-task-btn {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: baseline;
    gap: 8px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

.main-task-btn:hover {
    color: #dc4c3e;
}

#task-dialog, #project-dialog {
    padding: 0;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    width: 580px;
    box-shadow: 0 15px 60px 2px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 465px;
}

dialog::backdrop {
    background: transparent;
}

.divider {
    border: none;
    border-top: 1px solid #dcdcdc;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 16px 10px 6px 12px;
}

.task-btns {
    margin: 10px 0px;
    display: flex;
    gap: 8px;
}

.dialog-btns {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.dialog-btns div {
    display: flex;
    gap: 8px;
}

input[type='text'],
input[type='text']:focus {
    border: none;
    outline: none;
}

input:nth-of-type(1) {
    font-size: 1.25rem;
    font-weight: 500;
}

input:nth-of-type(2) {
    font-size: 0.85rem;
}

.hidden-date-input {
    display: none;
}

.date-picker-btn,
.priority-btn {
    width: 125px;
    color: #595959;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    background-color: transparent;
    padding: 2px 8px;
    cursor: pointer;
}

.project-btn {
    color: #595959;
    border: none;
    border-radius: 6px;
    background-color: transparent;
    padding: 2px 8px;
    cursor: pointer;
}

.date-picker-btn:hover,
.priority-btn:hover,
.project-btn:hover {
    background-color: #f5f5f5;
}

.cancel-btn {
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 5px 16px;
    font-weight: 500;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: #e5e5e5;
}

.add-btn {
    border: none;
    border-radius: 5px;
    background-color: #dc4c3e;
    color: white;
    padding: 5px 16px;
    font-weight: 500;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #c3392c;
}

.fa-calendar,
.fa-flag,
.fa-inbox {
    margin-right: 4px;
}

.fa-caret-down {
    margin-left: 4px;
}

.add-task-container {
    position: relative;
}

#datepicker {
    display: none;
}

.pika-single {
    z-index: 10000 !important;
    position: absolute;
}

#priority-menu {
    visibility: hidden;
    position: absolute;
    z-index: 1000;
}

.priority-container {
    position: relative;
    display: inline-block;
}

.custom-dropdown {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.custom-dropdown.hidden {
    display: none;
}

.custom-dropdown li {
    padding: 8px 8px;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: center;
}

.custom-dropdown li:hover {
    background-color: #f5f5f5;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.title-description-container {
    display: flex;
    flex-direction: column;
}

.date-priority-container {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
}

.date-priority-container p:nth-of-type(1) {
    font-weight: 800;
}

.task-container {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-top: 20px;
    font-size: 0.8rem;
    border: 1px solid rgb(125, 125, 125);
    border-radius: 8px;
    padding: 10px 18px;
}

.task-container h2 {
    font-size: 0.9rem;
}

.checkbox-title-description-container {
    display: flex;
    align-items: center;
    gap: 14px;
}

.project-dialog-btns {
    display: flex;
    justify-content: end;
    padding: 16px;
}

.project-dialog-btns div {
    display: flex;
    gap: 8px;
}

.create-project-btn {
    border: none;
    border-radius: 5px;
    background-color: #dc4c3e;
    color: white;
    padding: 5px 16px;
    font-weight: 500;
    cursor: pointer;
}

.create-project-btn:hover {
    background-color: #c3392c;
}

.cancel-project-btn {
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 5px 16px;
    font-weight: 500;
    cursor: pointer;
}

.cancel-project-btn:hover {
    background-color: #e5e5e5;
}

.project-container {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 12px;
    border-radius: 4px;
    font-weight: 400;
    margin-left: -4px;
    cursor: pointer;
}

.selected-project {
    background-color: #ffefe5;
    color: #a81f00;
}